<h2 class="StepTitle">Les caractéristiques</h2>  
<div class="form-horizontal col-md-6">
    <div class="form-group">
        <label for="force" class="col-md-2 control-label">Force</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="force" name="force" value="" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="consti" class="col-md-2 control-label">Constitution</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="consti" name="consti" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="taille" class="col-md-2 control-label">Taille</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="taille" name="taille" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="intell" class="col-md-2 control-label">Intelligence</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="intell" name="intell" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="pouvoir" class="col-md-2 control-label">Pouvoir</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="pouvoir" name="pouvoir" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="dexte" class="col-md-2 control-label">Dextérité</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="dexte" name="dexte" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="appa" class="col-md-2 control-label">Apparence</label>
        <div class="col-md-4 input-group">
            <input type="text" class="form-control" id="appa" name="appa" readonly/>
            <span class="input-group-btn">
                <button class="btn btn-primary dice_carac" type="button">2D6 + 6</button>
            </span>
        </div>
    </div>
</div>
<div class="form-horizontal col-md-5" >
    <div class="form-group">
        <label for="nom" class="col-md-3 control-label">Nom du joueur</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="proprio" name="proprio"/>
        </div>
    </div>
    <div class="form-group">
        <label for="nom" class="col-md-3 control-label">Nom du personnage</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="nom" name="nom"/>
        </div>
    </div>
    <div class="form-group">
        <label for="naiss" class="col-md-3 control-label">Lieu de naissance</label>
        <div class="col-md-8">
            <select class="form-control" id="naiss" name="naiss">
                <option>Argimiliar</option> 
                <option>Dharijor</option>
                <option>Dorel</option>
                <option>Filkhar</option>
                <option>Ilmiora</option>
                <option>L'île des cités pourpre</option>
                <option>Jharkor</option>
                <option>Lormyr</option>
                <option>Oin</option>
                <option>Pikarayd</option>
                <option>Shazar</option>
                <option>Le Désert des Soupirs</option>
                <option>Tarkesh</option>
                <option>Vilmir</option>
                <option>Yu</option>
                <option>Le Désert des Larmes</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="sexe" class="col-md-3 control-label">Sexe</label>
        <div class="col-md-2">
            <select class="form-control" id="sexe" name="sexe">
                <option>M</option> 
                <option>F</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="age" class="col-md-3 control-label">Age</label>
        <div class="col-md-2">
            <input type="number" class="form-control" id="age" name="age" maxlength="3"/>
        </div>
    </div>
    <div class="form-group">
        <label for="allure" class="col-md-3 control-label">Allure, attitude</label>
        <div class="col-md-8">
            <textarea class="form-control" id="allure" name="allure" maxlength="200"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="avatar" class="col-md-3 control-label">Emblème / Portrait</label>
        <div class="col-md-4">
            <label>
            <input type="file" id="avatar" name="avatar"/>
            </label>
        </div>
        <div class="col-md-2">
            <button id="removeFile" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>

