{% extends "::layout.html.twig" %}
{% block title %}
JdrCorp - Elric - Accueil
{% endblock %}
{% block fos_user_content %}
<h1 class="label label-primary col-md-12">Génération de fiche de personnage pour Elric<span class="label label-warning pull-right" style="font-size:60%;">{{nbFiches}} fiches créées à ce jour</span></h1>
<div class="" style="margin-top:50px;">
    <form method="post" action="{{path('Elric_Create') }}" id="create" name="create" enctype='multipart/form-data'>
        <div id="wizard" class="swMain" style="height:500px;width:100%;">
            <ul>
                <li><a href="#caracs">
                        <span class="stepNumber">1</span>
                        <span class="stepDesc">
                            Caractéristiques<br />
                            <small></small>
                        </span>
                    </a></li>
                <li><a href="#metier">
                        <span class="stepNumber">2</span>
                        <span class="stepDesc">
                            Métier<br />
                            <small></small>
                        </span>
                    </a></li>
                <li><a href="#settings">
                        <span class="stepNumber">3</span>
                        <span class="stepDesc">
                            Paramètres<br />
                            <small></small>
                        </span>
                    </a></li>
            </ul>

            <div style="width:100%;"  id="caracs">{% include 'JdrCorpElricBundle:Elric:caracs.html.twig' %}</div>
            <div style="width:100%;" id="metier">{% include 'JdrCorpElricBundle:Elric:metier.html.twig' %}</div>
            <div style="width:100%;" id="settings">{% include 'JdrCorpElricBundle:Elric:settings.html.twig' %}</div>   
        </div>
    </form>
</div>	
{% endblock fos_user_content %}