<table class="table table-hover">
    <thead>
    <th>Compétences</th>
    <th>%age de base</th>
</thead>
<tbody>
  {% for comp in listeCompMetier %}
    <tr>
        <td class="col-md-4">{{ comp.getCompetence.getNom }}</td><td class="col-md-2">{{ comp.getCompetence.getBase }}%</td>
    </tr>
  {% endfor %}
</tbody>
</table>
