{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="container">
        <div class="fos_user_user_show">
            <div class="page-header">
                <h1>Mon profil</h1>
            </div>
            <p>Email : {{ user.email }}</p>
        </div>
        <p>
            <a href="{{ path('fos_user_profile_edit') }}">
                Editer mon profil
            </a>
        </p>
    </div>
{% endblock fos_user_content %}