{% extends "::layout_index.html.twig" %}
{% block title %}
JdrCorp - Accueil
{% endblock %}
{% block fos_user_content %}
<div class="row">
    <div class="col-xs-6 col-md-3">
    </div>
    <div class="col-md-3">
        <a class="thumbnail" href="{{path('Elric')}}">
            <img class="img-responsive" src="{{ asset('bundles/jdrcorpindex/images/Elric_index.jpg') }}">
            <button type="button" class="btn btn-primary btn-block">Créer une fiche de personnage pour Elric</button>
        </a>
    </div>
    <div class="col-md-3">
        <a class="thumbnail" href="{{path('Guildes')}}">
            <img class="img-responsive" src="{{ asset('bundles/jdrcorpindex/images/Guildes_index.jpg') }}">
            <button type="button" class="btn btn-success btn-block">Entrer dans l'univers de Guildes</button>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
    </div>
</div>
{% endblock fos_user_content %}