{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="fos_user_user_show">
        <div class="page-header">
            <h1>Changer mon mot de passe</h1>
        </div>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>