<table id="mySorts">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  {% for sort in mySorts %}
        <tr>
            <td class="col-md-2">{{sort.getSortNom}}</td>
        </tr>
  {% endfor %}
    </tbody>
</table>
