<h2 class="StepTitle">Paramètres</h2>
<div class="col-md-4" style="margin-top:50px;">
    <div class="form-group">
        <label for="format" class="col-md-5 control-label" style='padding: 10px;'>Format d'export de votre fiche :</label>
        <div class="btn-group" data-toggle="buttons" id="format">
            <label class="btn btn-primary param active">
                <input type="radio" name="options" checked="checked" value="pdf"> Document PDF
            </label>
            <label class="btn btn-primary param">
                <input type="radio" name="options" value="jpg"> Image JPEG
            </label>
        </div>
    </div>
</div>
