/* 
    Document   : index
    Created on : 12 oct. 2013, 22:35:16
    Author     : Arnaud
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family: Calibri;
}
.centerThis{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
#allure{
    height: 100px;
    resize:none;
}
.form-horizontal{
    margin-top:10px;
    margin-left:10px;
}
.panel-default > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}
h1{
    display:block !important;
    margin:0;
    text-align: left !important;
    font-size:170% !important;
}
