/* 
    Document   : index
    Created on : 12 oct. 2013, 22:35:16
    Author     : Arnaud
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family: Calibri;
}
.centerThis{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
#allure{
    width: 260px;
    height: 135px;
    resize:none;
}
.form-horizontal{
    margin-top:10px;
    margin-left:10px;
}
