span, table, img, ul{
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
    position:absolute;
    display:block;
}
#fiche_recto {
    background:url('../images/Elric!-1.jpg') no-repeat left top;
    width:1169px;
    height:1694px;
}
#fiche_verso1 {
    background:url('../images/Elric!-2.jpg') no-repeat left top;
    top:1700px;
    width:1169px;
    height:1694px;
}
#fiche_verso2 {
    background:url('../images/Elric!-3.jpg') no-repeat left top;
    top:3390px;
    width:1169px;
    height:1694px;
}
#proprio{  
    top:245px;
    left:400px;
}
#nom{  
    top:330px;
    left:450px;
}
#embleme{
    top:260px;
    left:860px;
    z-index: 100;
}
#fort{
    top:330px;
    left:150px;
}
#consti{
    top:358px;
    left:150px;
}
#modif_degats{
    top:358px;
    left:235px;
}
#taille{
    top:388px;
    left:150px;
}
#intell{
    top:415px;
    left:150px;
}
#idee{
    top:415px;
    left:325px;
}
#pouvoir{
    top:444px;
    left:150px;
}
#chance{
    top:442px;
    left:325px;
}
#dexte{
    top:474px;
    left:150px;
}
#dexterite{
    top:472px;
    left:325px;
}
#appa{
    top:501px;
    left:150px;
}
#charisme{
    top:499px;
    left:325px;
}
#allure{
    top:419px;
    left:400px;
    width:350px;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
}
#naiss{
    top:358px;
    left:528px;
}
#sexe{
    top:358px;
    left:685px;
}
#age{
    top:358px;
    left:770px;
}
#myComp{
    top:560px;
    left:100px;
    width:750px;
    overflow:hidden;
    font-size: 12px;
}
#myComp li  { 
    width:50%;
}
li{
    line-height:1.5em;
    float:left;
    display:inline;
}
#mySorts{
    top:979px;
    left:115px;
    width:750px;
    height: 200px;
    overflow:auto;
    font-size: 14px;
    line-height: 19px;
}
#myCompContact{
    top:1170px;
    left:90px;
    width:750px;
    height: 200px;
    overflow:auto;
    font-size: 14px;
}
#myCompJet{
    top:1350px;
    left:630px;
    width:750px;
    height: 100px;
    overflow:auto;
    font-size: 14px;
}