{% extends "::layout_guildes.html.twig" %}
{% block title %}
JdrCorp - Guildes - Lanceur de dés
{% endblock %}

{% block fos_user_content %}

<div class="panel panel-default col-md-6 center">
    <div class="panel-body">
        Basic panel example
    </div>
</div>


{% javascripts '@JdrCorpGuildesBundle/Resources/public/js/dice.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock fos_user_content %}