{% extends "::layout_guildes.html.twig" %}
{% block title %}
JdrCorp - Guildes - Accueil
{% endblock %}
{% block fos_user_content %}
<div class="" style="margin-top:50px;">
</div>	
{% endblock fos_user_content %}