<!DOCTYPE html>
<html>
    <head>
        <title>JdrCorp - Guildes - Accueil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts 'bundles/jdrcorpelric/js/jquery-1.10.2.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 'bundles/jdrcorpelric/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets 'bundles/jdrcorpelric/css/bootstrap.css'  filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets 'bundles/jdrcorpguildes/css/index.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
    </body>
</html>
