{% extends "::layout_guildes.html.twig" %}
{% block title %}
JdrCorp - Guildes - Accueil
{% endblock %}
{% block fos_user_content %}
<div class="col-md-6 center">
    <div class="col-sm-4 col-md-6">
        <a href="{{path('Guildes_comp')}}">
            <div class="thumbnail">
                <img src="{{ asset('bundles/jdrcorpguildes/images/engrenage.png') }}" alt="...">
                <div class="caption">
                    <h3>Compétences & Métiers</h3>
                    <p>Présentées sous la forme de listes, les métiers affichent leurs compétences liées ainsi que leurs caractéristiques dépendantes.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-6 center">
    <div class="col-sm-4  col-md-6">
        <a href="{{path('Guildes_dice')}}">
            <div class="thumbnail">
                <img src="{{ asset('bundles/jdrcorpguildes/images/des.png') }}" alt="...">
                <div class="caption">
                    <h3>Lanceur de dés</h3>
                    <p>Lanceur de dés pour des jets de type compétence, caractéristique et non-compétence. L'explosion éventuelle du dé du destin est prise en compte telle qu'expliquée dans le livre de règles Guildes Eldorado.</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock fos_user_content %}