{% extends "::layout_guildes.html.twig" %}
{% block title %}
JdrCorp - Guildes - Cdb & Més
{% endblock %}

{% block fos_user_content %}
<div class="container">
	<div class="page-header">
		<h1>Guildes Eldorado - Coups de bols et Mésaventures</h1>
	</div>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#generiques" data-toggle="tab">Génériques</a></li>
		<li><a href="#maisons" data-toggle="tab">Maisons</a></li>
		<li><a href="#academie" data-toggle="tab">Académie</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="generiques">
		    {% include 'GuildesBundle:Guildes:cdb_all.html.twig' %}
		</div>

		<div class="tab-pane" id="maisons">
		    {% include 'GuildesBundle:Guildes:cdb_maisons.html.twig' %}
		</div>
		<div class="tab-pane" id="academie">
		    {% include 'GuildesBundle:Guildes:cdb_academie.html.twig' %}
		</div>
	</div>
</div>
{% endblock fos_user_content %}
{% block adds %}
	<script src="{{ asset('res/js/guildes/cdb.js') }}"></script>
{% endblock %}