body{
    display:block;
}
h1.label{
    font-size:150%;
}
a, a:hover{
    text-decoration: none;
}
.center{
    margin-left:auto !important;
    margin-right:auto !important;
    float:none;
    display:block;
}

#all_comp, #all_met{
    overflow:hidden;
    display:block;
}
#all_comp li { 
    width:25%;
}
#all_met li{
    width:50%;
}
li{
    line-height:1.5em;
    float:left;
    display:inline;
}